<footer>
  <ul>
    <li><a href="/pages/about">about</a></li>
    <li><a href="/pages/policies">policies</a></li>
    <li><a href="/pages/contact" class="hideyoshie">contact</a></li>
    <li><a href="/pages/shipping">shipping</a></li>
    <li><a href="/pages/stockists">stockists</a></li>
    <li><a href="//blog.rennes.us" target="_blank">blog</a></li>
    <li><a class="hideyoshie" href="/pages/press">press</a></li>
    <li><a href="/pages/collection-fw2012">collections</a>
      <ul>
        <li><a class="hideyoshie" href="/pages/collection-fw2012">f/w 2012</a></li>
        <li><a class="hideyoshie" href="/pages/collection-fw2011">f/w 2011</a></li>
        <li><a class="hideyoshie" href="/pages/collection-ss2011">s/s 2011</a></li>
        <li><a class="hideyoshie" href="/pages/collection-fw2010">f/w 2010</a></li>
        <li><a class="hideyoshie" href="/pages/collection-fw2009">f/w 2009</a></li>
        <li><a class="hideyoshie" href="/pages/collection-fw2008">f/w 2008</a></li>
        <li><a class="hideyoshie" href="/pages/collection-metrode">metrode</a></li>
      </ul>
    <li><a href="//instagram.com/rennes._/" target="_blank">instagram</a></li>
  </ul>
</footer>