     <ul id="categories" {% if collection.title.size > 0 %} class="{{ collection.handle }}" {% endif %}>
       
      <li><a href="/collections/new">new</a></li>
       
      <li><a href="/collections/leather-goods">Leather Goods</a>
        <ul>
          <li><a href="/collections/leather-goods-color">Color</a>
            <ul>
              <li><a href="/collections/black">Black</a></li>
              <li><a href="/collections/dots">Dots</a></li>
              <li><a href="/collections/cream">Cream</a></li>
              <li><a href="/collections/tan">Tan</a></li>
              <li><a href="/collections/tobacco">Tobacco</a></li>
              <li><a href="/collections/navy">Navy</a></li>
              <li><a href="/collections/redwood">Redwood</a></li>
              <li><a href="/collections/teal">Teal</a></li>
              <li><a href="/collections/red">Red</a></li>
              <li><a href="/collections/pink">Pink</a></li>
            </ul>
          <li><a href="/collections/leather-goods-item">Item</a>
          	<ul>
              <li><a href="/collections/bags">Bags</a></li>
              <li><a href="/collections/small-goods">Small Goods</a></li>
            </ul>
          </li>
        </ul>
      </li>
       
      <li><a href="/collections/clothing">clothing</a>
        <ul>
          <li><a href="/collections/rennes">rennes</a></li>
          <li><a href="/collections/anaak">anaak</a></li>
          <li><a href="/collections/base-range">base range</a></li>
          <li><a href="/collections/brookes-boswell">brookes boswell</a></li>
          <li><a href="/collections/caron-callahan">caron callahan</a></li>
          <li><a href="/collections/elsa-esturgie">elsa esturgie</a></li>
          <li><a href="/collections/esby">esby</a></li>
          <li><a href="/collections/ichi">ichi</a></li>
          <li><a href="/collections/khadi">khadi</a></li>
          <li><a href="/collections/lauren-manoogian">lauren manoogian</a></li>
          <li><a href="/collections/martiniano">martiniano</a></li>
          <li><a href="/collections/maryam-nassir-zadeh">maryam nassir zadeh</a></li>
          <li><a href="/collections/pip-squeak-chapeau">pip-squeak chapeau</a></li>
          <li><a href="/collections/pla">pla</a></li>
          <li><a href="/collections/samuji">samuji</a></li>
          <li><a href="/collections/sylvain-le-hen">sylvain le hen</a></li>
          <li><a href="/collections/wrk-shp">wrk-shp</a></li>
          <li><a href="/collections/clothing">all</a></li>
        </ul>
      </li>

      <li><a href="/collections/home-goods">home goods</a>
        <ul>
          <li><a href="/collections/ceramics">ceramics</a></li>
          <li><a href="/collections/dish-towels">dish towels</a></li>
          <li><a href="/collections/home-goods">all</a></li>
        </ul>
      </li>
       
      <li><a href="/collections/shoes">Shoes</a></li>
       
      <li><a href="/collections/sale">sale</a><li> 
    </ul>
