<nav>
   <ul {% if collection.title.size > 0 %} class="{{ collection.handle }}" {% endif %}>

      <li><a href="/collections/new">new</a></li>
      <li><a href="/collections/leather-goods">Leather Goods</a></li>
      <li><a href="/collections/clothing">clothing</a>
        <ul>
          <li><a href="/collections/tops">tops</a></li>
          <li><a href="/collections/dresses">dresses</a></li>
          <li><a href="/collections/pants">pants</a></li>
          <li><a href="/collections/skirts">skirts</a></li>
          <li><a href="/collections/sweaters">sweaters</a></li>
          <li><a href="/collections/coats">coats</a></li>
          <li><a href="/collections/neck">neck</a></li>
          <li><a href="/collections/for-your-hair">for your hair</a></li>
          <li><a href="/collections/bits-and-bobs">bits and bobs</a></li>
        </ul>
      </li>
      <li><a href="/collections/designers">designers</a>
        <ul>
          <li><a href="/collections/rennes">rennes</a></li>
          <li><a href="/collections/anaak">anaak</a></li>
          <li><a href="/collections/base-range">base range</a></li>
          <li><a href="/collections/caron-callahan">caron callahan</a></li>
          <li><a href="/collections/cosmic-wonder">cosmic wonder</a></li>
          <li><a href="/collections/elsa-esturgie">elsa esturgie</a></li>
          <li><a href="/collections/evam-eva">evam eva</a></li>
          <li><a href="/collections/gallego-desportes">gallego desportes</a></li>
          <li><a href="/collections/giu-giu">giu giu</a></li>
          <li><a href="/collections/ichi">ichi antiquites</a></li>
          <li><a href="/collections/khadi">khadi & co</a></li>
          <li><a href="/collections/lauren-manoogian">lauren manoogian</a></li>
          <li><a href="/collections/makie">MAKIÉ</a></li>
          <li><a href="/collections/martiniano">martiniano</a></li>
          <li><a href="/collections/maryam-nassir-zadeh">maryam nassir zadeh</a></li>
          <li><a href="/collections/pip-squeak-chapeau">pip-squeak chapeau</a></li>
          <li><a href="/collections/pla">pla</a></li>
          <li><a href="/collections/samuji">samuji</a></li>
          <li><a href="/collections/sylvain-le-hen">sylvain le hen</a></li>
          <li><a href="/collections/wrk-shp-1">wrk shp</a></li>
        </ul>
      </li>
      <li><a href="/collections/home-goods">home goods</a>
        <ul>
          <li><a href="/collections/ceramics">ceramics</a></li>
          <li><a href="/collections/dish-towels">dish towels</a></li>
          <li><a href="/collections/home-goods">all</a></li>
        </ul>
      </li>
      <li><a href="/collections/shoes">Shoes</a></li>
      <li><a href="/collections/sale">sale</a><li>
    </ul>

  <ul>
    <li><a href="/pages/about">about</a></li>
    <li><a href="//blog.rennes.us" target="_blank">news</a></li>
    <li><a href="//instagram.com/rennes._/" target="_blank">instagram</a></li>
    <li><a href="/pages/contact">contact</a></li>
    <li><a href="/pages/stockists">stockists</a></li>
    <li><a href="/pages/policies">policies</a></li>
  </ul>
</nav>
