<div id="contact">

  <section>
  {{ page.content }}
  </section>
  <section>

    <p>Please join our mailing list for shop updates, news, sales, and events:</p>

    <form action="//blogspot.us1.list-manage.com/subscribe/post?u=9810dca25b878830d9fe3913f&amp;id=1a20dc9c7e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="mailchimp validate" target="_blank">
      <label for="mce-EMAIL">
        Email:
      </label>
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" tabindex="5">
      <button name="subscribe" type="submit" tabindex="6">Join</button>
    </form>
  </section>

</div>
